.container {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    img {
        z-index: 3;
        width: 500px;
        height: 200px;
        position: absolute;
        top: 30%;
        left: 10%;
    }

    p {
        position: absolute;
        color: var(--dark-blue);
        font-size: 25px;
        z-index: 3;
        top: 55%;
        left: 15%;
    }

}

.left-side {
    background-image: url('/assets/images/photos/home-wave2.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;

}

.right-side {
    background-image: url('/assets/images/photos/home2.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: right;
}