<div class="container">
  <app-title title="Admin Page"></app-title>
  <a routerLink="add-food-item">
    <button mat-raised-button color="primary">Add food item</button></a
  >
  <a routerLink="view-reviews">
    <button mat-raised-button color="primary">View reviews</button>
  </a>
  <a routerLink="view-messages">
    <button mat-raised-button color="primary">View messages</button></a
  >
  <a routerLink="view-emails-newsletter">
    <button mat-raised-button color="primary">View News Letter</button></a
  >
  <a routerLink="view-rent-sup">
    <button mat-raised-button color="primary">View Rent Sup</button></a
  >
</div>
