.container {
    display: flex;
    flex-direction: column;
    align-items: center;


    form {
        display: flex;
        flex-direction: column;
        padding: 3rem 0 0 8rem;
        flex: 0 1 40%;

        * {
            width: 100%;
        }


    }

    .view-reviews-container {
        flex: 0 1 60%;

    }
}

.rating-container div {
    display: flex;
}

.main-container {
    display: flex;
    background-color: #fafafa;

}