<div class="container">
  <div class="content">
    <app-title title="Order Summary" fontSize="1.6rem"></app-title>

    <div class="summary">
      <div>
        <h3>Name:</h3>
        <span>{{ newOrder.name }}</span>
      </div>
    </div>
    <div class="summary">
      <div>
        <h3>Address:</h3>
        <span>{{ newOrder.address }}</span>
      </div>
    </div>
    <order-items-list [order]="newOrder"></order-items-list>
  </div>
  <div class="map">
    <app-title title="Shipping address" fontSize="1.6rem"></app-title>
    <app-map [order]="newOrder" [readonly]="true"></app-map>
  </div>

  <div class="buttons-container">
    <div class="buttons">
      <app-paypal-button [order]="newOrder"></app-paypal-button>
    </div>
  </div>
</div>
