<header>
  <div class="container">
    <a routerLink="/" class="logo">
      <h1>SUP IASI</h1>
    </a>
    <nav>
      <ul>
        <li *ngIf="isAdmin">
          <a
            routerLink="/admin-page"
            style="background-color: var(--orange); color: white"
            >Admin page</a
          >
        </li>
        <li><a routerLink="/contact-us">CONTACT</a></li>
        <li><a routerLink="/events">EVENIMENTE</a></li>
        <li><a routerLink="/reviews">REVIEWS</a></li>
        <li><a routerLink="/locations">LOCATII</a></li>
        <li><a routerLink="/despre-noi">DESPRE NOI</a></li>
        <li><a routerLink="/rent-sup">RENT SUP!</a></li>
        <li *ngIf="!isAuth">
          <a routerLink="/login">LOGIN</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li *ngIf="isAuth">
          <a routerLink="/cart-page"
            >Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span></a
          >
        </li>
      </ul>
      <div class="underline"></div>
    </nav>
  </div>
</header>
