header {
    position: relative;
    background: transparent;
    padding: 0;
    position: sticky;
    top: 0px;
    z-index: 99;

    a {
        color: var(--dark-blue);

        &:hover {
            background: var(--dark-blue);
            color: white;
        }
    }
}

.underline {
    // border-top: 20px solid red;
    border-top-left-radius: 10px;
    border-bottom: 15px solid var(--dark-blue);
    border-bottom-left-radius: 10px;
}

.container {

    display: flex;
    justify-content: space-between;

    a.logo {
        font-weight: bold;

    }

    ul {
        display: flex;
        list-style-type: none;
        // border-bottom: 10px solid var(--dark-blue);
        // border-bottom-left-radius: 10px;
        padding: 0;
        margin: 0;



        a {
            padding: 0.8rem 2rem;
            display: inline-block;
            font-weight: 400;
            font-family: "Jomhuria", serif;
            font-size: 32px;
            border-radius: 0 0 20px 20px;

            span {
                background-color: var(--dark-blue);
                color: white;
                padding: 0.1rem 0.45rem;
                border-radius: 100rem;
            }
        }
    }

    .menu-container {
        position: relative;
    }

    .menu-container:hover .menu {
        display: block;
    }

    .menu {
        position: absolute;
        z-index: 1;
        background-color: whitesmoke;
        display: none;

        // a {
        //     width: 100%;
        //     min-width: 8rem;
        // }
    }



}