<header>
  <div class="container">
    <a routerLink="/" class="logo">The Restaurant</a>
    <nav>
      <ul>
        <li *ngIf="isAdmin">
          <a
            routerLink="/admin-page"
            style="background-color: red; color: white"
            >Admin page</a
          >
        </li>
        <li><a routerLink="/contact-us">Contact Us</a></li>
        <li><a routerLink="/reviews">Reviews</a></li>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{ user.name }}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li *ngIf="isAuth">
          <a routerLink="/cart-page"
            >Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
