<app-not-found
  [visible]="!eventDetails"
  notFoundMessage="Event Not Found!"
  resetLinkText="Back to Homepage"
></app-not-found>
<h1>EVENIMENT</h1>
<div *ngIf="eventDetails" class="container">
  <img
    [src]="eventDetails.imageUrl"
    [alt]="eventDetails.name"
    class="item-image"
  />
  <div class="details">
    <div class="header">
      <span class="name">{{ eventDetails.name }}</span>
    </div>

    <div class="item-details">
      <img
        src="assets/images/svg/map-pin.png"
        alt="clock"
        width="31px"
        height="31px"
      />
      <p>Locatie: {{ eventDetails.locatie }}</p>
    </div>
    <div class="item-details">
      <img
        src="assets/images/svg/date.png"
        alt="clock"
        width="31px"
        height="31px"
      />
      <p>Data: {{ eventDetails.data }}</p>
    </div>

    <div class="item-details">
      <img
        src="assets/images/svg/clock.png"
        alt="clock"
        width="31px"
        height="31px"
      />
      <p>Ora: {{ eventDetails.ora }}</p>
    </div>
    <div class="item-details">
      <img
        src="assets/images/svg/nr-locuri.png"
        alt="clock"
        width="31px"
        height="31px"
      />
      <p>Numar de locuri: {{ eventDetails.nrLocuri }} persoane</p>
    </div>

    <div class="item-details">
      <img
        src="assets/images/svg/price.png"
        alt="clock"
        width="31px"
        height="31px"
      />
      <p>Pret/persoana: {{ eventDetails.price | currency }}</p>
    </div>

    <!-- <div class="tags">
      <a *ngFor="let tag of eventDetails.tags" routerLink="/tag/{{ tag }}"
        >{{ tag }}
      </a>
    </div> -->

    <button (click)="addToCart()">REZERVA ACUM!</button>
  </div>
</div>
<h1>DETALII</h1>

<div class="detalii">
  <div class="detalii-item">
    <h1>Experienta?</h1>
    <p>
      Acest eveniment este dedicat tuturor persoanelor, indiferent de
      experienta. Inaintea inceperii evenimentului, vom face si un training
      dedicat persoanelor care fac asta pentru prima data.
    </p>
  </div>
  <div class="detalii-item">
    <h1>Experienta?</h1>
    <p>
      Acest eveniment este dedicat tuturor persoanelor, indiferent de
      experienta. Inaintea inceperii evenimentului, vom face si un training
      dedicat persoanelor care fac asta pentru prima data.
    </p>
  </div>
  <div class="detalii-item">
    <h1>Experienta?</h1>
    <p>
      Acest eveniment este dedicat tuturor persoanelor, indiferent de
      experienta. Inaintea inceperii evenimentului, vom face si un training
      dedicat persoanelor care fac asta pentru prima data.
    </p>
  </div>
</div>
<br />
<h1>GALERIE</h1>
<br />
<img class="galerie" src="assets/images/photos/galerie.png" alt="galerie" />
