h1 {
    color: var(--orange);
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem;




}

.container>* {
    min-width: 25rem;
    max-width: 40rem;
}

.item-image {
    border-radius: 3rem;
    flex: 1 0;
    object-fit: cover;
    height: 35rem;
    margin: 1rem;

}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border: 3rem;
    padding: 2rem;
    color: black;

    .item-details {
        display: flex;
        align-items: center;

        img {
            margin-right: 15px;
        }

    }

    button {
        background-color: var(--light-blue);
        font-size: 40px;
        width: 50%;
        margin-top: 20px;
        padding: 5px 0;
        color: white;
        border: 2px solid var(--dark-blue);
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px var(--light-blue);

        &:hover {
            opacity: 0.9;
            cursor: pointer;
        }

    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 2rem;
    font-weight: bold;
}



.nr-locuri {
    margin-top: 1rem;
}

.nr-locuri span {
    padding: 0.6rem 2rem 0.6rem 0;
    border-radius: 10rem;
    font-size: 1.3rem;
}

.price {
    font-size: 1.8rem;
    margin: 2rem 2rem 2rem 0;
    color: green;

}

.price::before {
    content: 'Price: ';
    color: darkgray
}

.detalii {
    background-image: url("/assets/images/photos/wave.png");
    height: 700px;
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
    }

    .detalii-item {
        margin: 0 50px;
        width: 300px;
        height: 300px;
        background-color: white;
        border-radius: 10px;
        border: 3px solid var(--light-blue);
    }
}

.galerie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    margin-bottom: 50px;
}