
<div class="evenimentele-noastre">
  <h1>EVENIMENTELE NOASTRE</h1>
</div>
<ul>
  <li *ngFor="let event of events">


    <a routerLink="/event/{{ event.id }}"
      ><img [src]="event.imageUrl" [alt]="event.name"
    /></a>

    <div class="details">
      <div class="header">
        <h1 class="name">{{ event.name }}</h1>
      </div>

      <div class="item-details">
        <img
          src="assets/images/svg/map-pin.png"
          alt="clock"
          width="31px"
          height="31px"
        />
        <p>Locatie: {{ event.locatie }}</p>
      </div>
      <div class="item-details">
        <img
          src="assets/images/svg/date.png"
          alt="clock"
          width="31px"
          height="31px"
        />
        <p>Data: {{ event.data }}</p>
      </div>

      <div class="item-details">
        <img
          src="assets/images/svg/clock.png"
          alt="clock"
          width="31px"
          height="31px"
        />
        <p>Ora: {{ event.ora }}</p>
      </div>
      <div class="item-details">
        <img
          src="assets/images/svg/nr-locuri.png"
          alt="clock"
          width="31px"
          height="31px"
        />
        <p>Numar de locuri: {{ event.nrLocuri }} persoane</p>
      </div>

      <div class="item-details">
        <img
          src="assets/images/svg/price.png"
          alt="clock"
          width="31px"
          height="31px"
        />
        <p>Pret/persoana: {{ event.price | currency }}</p>
      </div>
      <a routerLink="/event/{{ event.id }}">
        <button>AFLA DETALII</button>
      </a>
    </div>
  </li>
</ul>
