<div class="main-container">
  <form
    [formGroup]="addItemForm"
    (ngSubmit)="submit()"
    enctype="multipart/form-data"
  >
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error>Name is required</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price" />
      <mat-error>Price is required</mat-error>
    </mat-form-field>
    <br />
    <div>
      <label for="imageUrl">Choose Image:</label>
      <input
        type="file"
        id="imageUrl"
        name="imageUrl"
        (change)="uploadImage($event)"
        accept="image/*"
        required
      />
    </div>
    <button type="submit">Upload</button>
  </form>
</div>
