 .main {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 50px;

 }

 .container {
     display: flex;
     width: 60%;
     height: 80vh;
     border-radius: 50px;
     background-color: white;
     box-shadow: -2px 0px 10px 0px #53A7D1;
 }


 form {

     width: 55%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     mat-form-field {
         width: 400px;

     }

     button {
         width: 200px;
         background-color: var(--orange);
         font-weight: 800;
     }

     h1 {
         color: #53A7D1;

     }
 }

 .right-side {

     border-radius: 120px 50px 50px 120px;
     width: 45%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #53A7D1;

     h1 {
         color: white;
     }

     p {
         color: white;
         font-size: 20px;
         width: 70%;
         text-align: center;


     }

     button {
         color: white;
         background-color: #53A7D1;
         border: 2px solid white;
     }
 }