<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <app-title title="Login"></app-title>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter email..." formControlName="email" />
      <mat-error *ngIf="fc.email.errors?.required && fc.email.touched"
        >Should not be empty</mat-error
      >
      <mat-error *ngIf="fc.email.errors?.email && fc.email.dirty"
        >Email is not correct</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Enter password..."
        formControlName="password"
      />
      <mat-error *ngIf="fc.password.errors?.required && fc.password.touched"
        >Should not be empty</mat-error
      >
    </mat-form-field>

    <div class="button">
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
    <br />
    <div class="register">
      New user? &nbsp;
      <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }"
        >Register here</a
      >
    </div>
  </form>
</div>
