<app-not-found
  [visible]="!foodDetails"
  notFoundMessage="Food Not Found!"
  resetLinkText="Back to Homepage"
></app-not-found>

<div *ngIf="foodDetails" class="container">
  <img [src]="foodDetails.imageUrl" [alt]="foodDetails.name" />
  <div class="details">
    <div class="header">
      <span class="name">{{ foodDetails.name }}</span>
      <span class="favorite {{ foodDetails.favorite ? '' : 'not' }}">❤️</span>
    </div>

    <div class="rating">
      <star-rating
        [starType]="'svg'"
        [rating]="foodDetails.stars"
        [readOnly]="true"
      ></star-rating>
    </div>

    <div class="origins">
      <span *ngFor="let origin of foodDetails.origins">{{ origin }}</span>
    </div>
    <div class="tags">
      <a *ngFor="let tag of foodDetails.tags" routerLink="/tag/{{ tag }}"
        >{{ tag }}
      </a>
    </div>

    <div class="cook-time">
      <span
        >Time to cook about
        <strong>{{ foodDetails.cookTime }}</strong> minutes</span
      >
    </div>

    <div class="price">
      <span>{{ foodDetails.price | currency }}</span>
    </div>

    <button (click)="addToCart()">Add To Cart</button>
  </div>
</div>
