/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import 'css-star-rating/scss/star-rating';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html,
button {
    font-family: "Quicksand", "sans-serif"
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

//------------------------- VARIABLES----------------------------

:root {
    --red: #e72929;
    --boxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --itemBoxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}