.container ul {
    margin-top: 100px;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    height: 80vh;


    li {
        margin-top: 100px;
        background-color: white;
        padding: 0 2rem;
        margin: 1rem;
        width: 300px;
        height: 300px;
        border: 2px solid var(--light-blue);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

        img {
            height: 180px;
            position: absolute;
            top: -90px;
            clip-path: circle();

        }

    }

}