<h1>LOCATIA SUP IASI</h1>
<div class="main-container">
  <google-map
    class="google-map"
    height="450px"
    width="1000px"
    [center]="center"
    [zoom]="zoom"
  >
    <map-marker [position]="center"></map-marker>
  </google-map>

  <div class="weather">
    <h1 *ngIf="weatherData">{{ weatherData.name }}</h1>
    <h3 *ngIf="weatherData">{{ weatherData.weather[0].description }}</h3>

    <div style="display: flex; justify-content: center; align-items: center">
      <h1 *ngIf="weatherData">{{ weatherData.main.temp }} &deg;C</h1>
      &nbsp;&nbsp;&nbsp;
      <img
        [src]="getWeatherIconUrl(weatherData.weather[0].icon)"
        alt="Weather Icon"
      />
    </div>

    <h3 *ngIf="weatherData">Wind {{ weatherData.wind.speed }} MPH</h3>
    <h3 *ngIf="weatherData">Humidity {{ weatherData.main.humidity }} %</h3>
  </div>
</div>
