h1 {
    text-align: center;
}

.main-container {
    display: flex;
    padding-bottom: 150px;
    justify-content: center;
    align-items: center;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--light-blue);
    color: white;
    border-radius: 5px;
    width: 500px;
    height: 450px
}

.google-map {}