<h1>LOCATIA SUP IASI</h1>
<div class="main-container">
  <google-map
    class="google-map"
    height="450px"
    width="1000px"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="moveMap($event)"
    (mapMousemove)="move($event)"
  >
    <map-marker [position]="center"></map-marker>
  </google-map>

  <!-- <div>Latitude: {{ display.lat }}</div>
<div>Longitude: {{ display.lng }}</div> -->

  <div class="weather">
    <h2 *ngIf="weatherData">{{ weatherData.name }}</h2>
    <h3 *ngIf="weatherData">{{ weatherData.weather[0].description }}</h3>

    <h1 *ngIf="weatherData">{{ weatherData.main.temp }} &deg;C</h1>

    <img
      [src]="getWeatherIconUrl(weatherData.weather[0].icon)"
      alt="Weather Icon"
    />

    <h2 *ngIf="weatherData">Wind {{ weatherData.wind.speed }} MPH</h2>
    <h2 *ngIf="weatherData">Humidity {{ weatherData.main.humidity }} %</h2>
  </div>
</div>
