.container {
    background-color: var(--dark-blue);
    opacity: 0.8;
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;

    .left-side {
        display: flex;

        .contact {
            display: flex;
            flex-direction: column;
            padding-right: 5rem;
        }

        .about-us {
            display: flex;
            flex-direction: column;
            padding-right: 5rem;
        }

        .follow-us {
            display: flex;
            flex-direction: column;

            .social-media {
                margin: 0.5rem;
            }
        }
    }

    .right-side {
        .newsletter {
            display: flex;
            flex-direction: column;

            input {
                padding: 5px;
                border: 3px solid black;
            }

            button {
                padding: 5px;
                border-radius: 0px 5px 5px 0px;
                background-color: var(--dark-blue);
                opacity: 0.8;
                color: white;
            }

            button:hover {
                cursor: pointer;
                opacity: 1;
            }
        }


    }
}