<footer class="container">
  <div class="left-side">
    <div class="contact">
      <h2>Contact</h2>
      <span>E-mail:</span>
      <span><strong>therestaurant&#64;gmail.com</strong></span>
      <span>Instagram:</span>
      <span><strong> &#64;therestaurant.com</strong></span>
      <span>Facebook:</span>
      <span><strong> &#64;therestaurant.com</strong> </span>
    </div>
    <div class="about-us">
      <h2>About us</h2>
      <span
        ><a href="/reviews" style="color: black">
          <strong>Reviews</strong>
        </a>
      </span>
      <span
        ><a href="/contact-us" style="color: black">
          <strong>Contact Us</strong>
        </a>
      </span>
    </div>
    <div class="follow-us">
      <h2>Follow us on</h2>
      <span class="social-media"
        ><a href="https://www.facebook.com" target="_blank" style="color: black"
          ><img
            src="/assets/images/facebook.png"
            alt="facebook"
            width="18"
            height="18"
          />
          &nbsp;
          <strong>Facebook</strong>
        </a>
      </span>
      <span class="social-media"
        ><a
          href="https://www.instagram.com"
          target="_blank"
          style="color: black"
          ><img
            src="/assets/images/instagram.png"
            alt="instagram"
            width="18"
            height="18"
          />
          &nbsp; <strong>Instagram</strong></a
        >
      </span>
      <span class="social-media"
        ><a href="https://www.tiktok.com" target="_blank" style="color: black"
          ><img
            src="/assets/images/tiktok.png"
            alt="tiktok"
            width="18"
            height="18"
          />
          &nbsp; <strong>Tiktok</strong></a
        >
      </span>
    </div>
  </div>
  <div class="right-side">
    <div class="newsletter">
      <h2>News Letter</h2>
      <div>
        <input
          type="text"
          placeholder="Enter your email..."
          class="newsletter-input"
          #email
        />
        <button type="submit" (click)="addEmailNewsletter(email.value)">
          Submit
        </button>
      </div>
    </div>
    <br />
    <div class="copyright">
      &copy; {{ currentYear }}, Dragos Paizan. All rights reserved.
    </div>
  </div>
</footer>
