.container {
    background-color: var(--dark-blue);
    opacity: 0.8;
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: space-between;
    border-top: 20px solid var(--light-blue);
    color: white;

    .left-side {
        display: flex;


        h2 {
            font-weight: normal;
        }

        .follow-us {
            display: flex;
            align-items: center;

            .social-media {
                margin: 0.8rem;
            }
        }
    }

    .middle {
        display: flex;
        flex-direction: row;

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 10px;

            * {
                margin-right: 10px;
            }

        }

    }


    .right-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .newsletter {
            input {
                padding: 5px;
                border: 3px solid black;
            }

            button {
                padding: 0px 5px;
                border-radius: 0px 5px 5px 0px;
                background-color: var(--light-blue);
                opacity: 0.8;
                color: white;
                font-size: 32px;
            }

            button:hover {
                cursor: pointer;
                opacity: 1;
            }
        }


    }
}