<div class="container">
  <div class="content">
    <app-title title="Order Form" fontSize="1.6rem"></app-title>

    <form [formGroup]="checkoutForm">
      <mat-form-field>
        <mat-label for="name">Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="address">Address</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>
    </form>
    <order-items-list [order]="order"></order-items-list>
  </div>
  <div class="buttons-container">
    <div class="buttons">
      <app-paypal-button [order]="order"></app-paypal-button>
    </div>
  </div>
</div>
