div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        background-color: var(--dark-blue);
        padding: 0.3rem 1rem;
        margin: 0.2rem 0.15rem;
        border-radius: 10rem;
        font-weight: 600;
        opacity: 0.8;
        color: white;
        font-weight: 400;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

}