<div class="container">
  <div class="despre-noi">
    <img
      class="despre-noi-img"
      src="assets/images/photos/despre-noi.png"
      alt="despre-noi"
    />
    <img
      class="background-img"
      src="/assets/images/photos/image 3.svg"
      alt="lake"
    />
  </div>
  <div class="poveste">
    <img
      class="background-img"
      src="/assets/images/photos/wave.png"
      alt="wave"
    />
    <div class="poveste-text">
      <div>
        <h2>DESCOPERA NATURA PE SUP ALATURI DE NOI!</h2>
        <p>
          Povestea SUP Iasi a plecat de la visul meu de a aduce oamenii mai
          aproape de natura, chiar in orasul lor. Am descoperit acest sport cu
          cativa ani in urma si m-am indragostit iremediabil de el. De atunci,
          mi-am descoperit tara, si nu numai, de pe placa mea de SUP.
        </p>
        <p>
          La inceput mi-am introdus toti prietenii in acest sport si fiecare
          feedback pe care l-am primit a fost mai mult decat ma asteptam. Insa
          vreau mai mult. Regiunea Moldovei are frumuseti pe apa care trebuie
          explorate de noi toti.
        </p>
        <p>Va astept sa (ne) descoperim impreuna pe placa de SUP!</p>
      </div>
      <div>
        <img src="/assets/images/photos/Rectangle 36.png" alt="lake" />
      </div>
    </div>
  </div>
  <div class="echipa">
    <div class="membru">
      <div>
        <h2>STEFANIA SANDU</h2>
        <p>Fondator & Ghid evenimente</p>
        <p>
          "Relaxeaza-te pe lac, conecteaza-te cu natura si cu oamenii din jur si
          <br />
          lasa apa, soarele si SUP-ul sa-ti arate drumul!"
        </p>
        <div>
          <img
            src="assets/images/facebook.png"
            alt="facebook"
            width="50px"
          /><img
            src="assets/images/instagram.png"
            width="50px"
            alt="instagram"
          />
        </div>
      </div>
      <img
        src="assets/images/photos/stefania.png"
        width="700px"
        alt="stefania"
      />
    </div>
    <div class="membru">
      <img src="assets/images/photos/dragos.png" width="700px" alt="dragos" />
      <div>
        <h2>DRAGOS PAIZAN</h2>
        <p>Fondator & Instructor SUP</p>
        <p>
          "Relaxeaza-te pe lac, conecteaza-te cu natura si cu oamenii din jur si
          <br />
          lasa apa, soarele si SUP-ul sa-ti arate drumul!"
        </p>
        <div>
          <img
            src="assets/images/facebook.png"
            alt="facebook"
            width="50px"
          /><img
            src="assets/images/instagram.png"
            width="50px"
            alt="instagram"
          />
        </div>
      </div>
    </div>
  </div>

  <img src="assets/images/photos/wave-bottom.png" width="100%" alt="" />
</div>
