<div class="container">
  <div class="despre-noi">
    <img
      class="despre-noi-img"
      src="assets/images/photos/despre-noi.png"
      alt="despre-noi"
    />
    <img
      class="background-img"
      src="/assets/images/photos/lake.png"
      alt="lake"
    />
  </div>
  <div class="poveste">
    <img
      class="background-img"
      src="/assets/images/photos/wave.png"
      alt="wave"
    />
    <div class="poveste-text">
      <div>
        <h2>DESCOPERA NATURA PE SUP ALATURI DE NOI!</h2>
        <p>
          Povestea SUP Iasi a plecat de la visul meu de a aduce oamenii mai
          aproape de natura, chiar in orasul lor. Am descoperit acest sport cu
          cativa ani in urma si m-am indragostit iremediabil de el. De atunci,
          mi-am descoperit tara, si nu numai, de pe placa mea de SUP.
        </p>
        <p>
          La inceput mi-am introdus toti prietenii in acest sport si fiecare
          feedback pe care l-am primit a fost mai mult decat ma asteptam. Insa
          vreau mai mult. Regiunea Moldovei are frumuseti pe apa care trebuie
          explorate de noi toti.
        </p>
        <p>Va astept sa (ne) descoperim impreuna pe placa de SUP!</p>
      </div>
      <div>
        <img src="/assets/images/photos/stef-lake.png" alt="lake" />
      </div>
    </div>
  </div>
  <div class="echipa">
    <div class="membru">
      <div>
        <h2>STEFANIA SANDU</h2>
        <p>Fondator & Ghid evenimente</p>
        <p>
          "Relaxeaza-te pe lac, conecteaza-te cu natura si cu oamenii din jur si
          <br />
          lasa apa, soarele si SUP-ul sa-ti arate drumul!"
        </p>
        <div>

          <a href="https://www.facebook.com">
          <img
            src="assets/images/facebook.png"
            alt="facebook"
            width="50px"
          />
        </a>
        <a href="https://www.instagram.com">
          <img
            src="assets/images/instagram.png"
            width="50px"
            alt="instagram"
          />
        </a>
        </div>
      </div>
      <img
        src="assets/images/photos/stefania.png"
        width="700px"
        alt="stefania"
      />
    </div>
    <div class="membru">
      <img src="assets/images/photos/dragos.png" width="700px" alt="dragos" />
      <div>
        <h2>DRAGOS PAIZAN</h2>
        <p>Fondator & Instructor SUP</p>
        <p>
          "Relaxeaza-te pe lac, conecteaza-te cu natura si cu oamenii din jur si
          <br />
          lasa apa, soarele si SUP-ul sa-ti arate drumul!"
        </p>
        <div>
          <a href="https://www.facebook.com">
            <img
              src="assets/images/facebook.png"
              alt="facebook"
              width="50px"
            />
          </a>
          <a href="https://www.instagram.com">
            <img
              src="assets/images/instagram.png"
              width="50px"
              alt="instagram"
            />
          </a>
        </div>
      </div>
    </div>
  </div>

  <img src="assets/images/photos/wave-bottom.png" width="100%" alt="" />

  <div class="echipament">
    <img src="assets/images/photos/sup.png" alt="sup" />
    <div class="echipament-text">
      <h1>ECHIPAMENTELE NOASTRE</h1>
      <p>Caracteristici placa SUP</p>
      <ul>
        <li>Dimensiune:</li>
        <p>
          Placa măsoară 366 cm în lungime, 84 cm în lățime și 15 cm în grosime,
          oferind o stabilitate superioară.
        </p>
      </ul>
      <ul>
        <li>Material Durabil:</li>
        <p>
          Fabricată din PVC de înaltă calitate și material drop-stitch, această
          placă este extrem de durabilă și rezistentă la uzură și perforații,
          asigurând o utilizare îndelungată și fiabilă.
        </p>
      </ul>
      <ul>
        <li>Capacitate Ridicată::</li>
        <p>
          Placa măsoară 366 cm în lungime, 84 cm în lățime și 15 cm în grosime,
          oferind o stabilitate superioară.
        </p>
      </ul>
    </div>
  </div>

  <div class="echipament">
    <img src="assets/images/photos/echipament.png" alt="echipament" />
    <div class="echipament-text">
      <h1>ECHIPAMENTELE NOASTRE</h1>
      <p>Caracteristici placa SUP</p>
      <ul>
        <li>Dimensiune:</li>
        <p>
          Placa măsoară 366 cm în lungime, 84 cm în lățime și 15 cm în grosime,
          oferind o stabilitate superioară.
        </p>
      </ul>
      <ul>
        <li>Material Durabil:</li>
        <p>
          Fabricată din PVC de înaltă calitate și material drop-stitch, această
          placă este extrem de durabilă și rezistentă la uzură și perforații,
          asigurând o utilizare îndelungată și fiabilă.
        </p>
      </ul>
      <ul>
        <li>Capacitate Ridicată::</li>
        <p>
          Placa măsoară 366 cm în lungime, 84 cm în lățime și 15 cm în grosime,
          oferind o stabilitate superioară.
        </p>
      </ul>
    </div>
  </div>
</div>
